extends layout

block content
    h1= title
    p Welcome to your Todo list.
    
    h2 Todo Overview

    if error
        p Error getting dynamic content: #{error}
    else
        table.table.table-striped
            thead
                tr
                    th Task Type
                    th Count
            tbody
                tr
                    td Todos
                    td !{data.todo_entries_count}
                tr
                    td Open Todos
                    td !{data.todo_open_entries_count}
                tr
                    td Finished Todos
                    td !{data.todo_closed_entries_count}
