extends layout

block content
  h1= title
  p Welcome to your Todo list. Take a look around with your little navbar.

  h1 Todo overview

  if error
    p Error getting dynamic content: #{error}
  else
    p You have the following Todo's

    ul
      li #[strong Todos:] !{data.todo_entries_count}
      li #[strong Open Todos:] !{data.todo_open_entries_count}
      li #[strong Closed Todos:] !{data.todo_closed_entries_count}
