extends layout

block content
    h1= page_title

    ul
        each todo in todo_list
            div.todo-box
                a(href=todo.url) #{todo.title}
                p
                    | #{todo.description}
                    hr
                    | Due date: #{todo.dueDate_formatted}
                    br
                    | Priority: #{todo.priority}
                    br
                    | Subject: #{todo.subject}
                    br
                    | Is done? #{todo.isDone}
        else
            p There are no todo entries