extends layout

block content
    h1= page_title

    div.todo-box
        a(href=todo_object.url) #{todo_object.title}
        p
            hr
            | Due date: #{todo_object.dueDate_formatted}
            br
            | Priority: #{todo_object.priority}
            br
            | Subject: #{todo_object.subject}
            br
            | Is done? #{todo_object.isDone}
            hr
            p
                a(href=todo_object.url+'/delete') Delete Todo

            p
                a(href=todo_object.url + '/update') Update Todo
    div.todo-box
